<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://xyxiao001.github.io/person/css/bootstrap.css">
    <link rel="stylesheet" href="http://xyxiao001.github.io/person/css/font-awesome.css">
    <link rel="stylesheet" href="http://xyxiao001.github.io/person/css/blog.css">
    <title>博客</title>
  </head>
  <body>
    <div class="bg"></div>
    <header>
      <p>
        <a href="../index.html" id="index">
          <i class="fa fa-connectdevelop fa-3x"></i>
          <span>首页</span>
        </a>
      </p>
      <div class="clear">
        <span class="menu"><i id="menu-bar" class="fa fa-bars fa-2x"></i></span>
        <ul class="menu-ul collapse" id="menu-ul">
          <li>
            <a>随手写写</a>
          </li>
          <li>
            <a>读书感悟</a>
          </li>
          <li>
            <a>心得体会</a>
          </li>
          <li>
            <a>关于我</a>
          </li>
        </ul>
      </div>
    </header>
    <script src="http://xyxiao001.github.io/person/js/jQuery.js"></script>
    <script src="http://xyxiao001.github.io/person/js/blog.js"></script>
  </body>
</html>
