<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>博客</title>
    <link href="http://xyxiao001.github.io/person/css/bootstrap.css" rel="stylesheet">
    <link href="http://xyxiao001.github.io/person/css/blog.css" rel="stylesheet">
    <link href="http://xyxiao001.github.io/person/css/font-awesome.css" rel="stylesheet" type="text/css">
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand page-scroll" href="http://xyxiao001.github.io/person/index.html">
            首页&nbsp;
          </a>
          <a class="navbar-brand page-scroll" href="#page-top">
            <i class="fa fa-play-circle">
            </i>
            博客
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a href="#page-top">
              </a>
            </li>
            <li>
              <a class="page-scroll" href="#about">
                读书笔记
              </a>
            </li>
            <li>
              <a class="page-scroll" href="#download">
                随手写写
              </a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">
                关于我
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">
                没范儿
              </h1>
              <p class="intro-text">
                脑子不好使了!!
                <br>
                写下来记住
              </p>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
      </div>
    </section>

    <section id="download" class="content-section text-center">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">

          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        </div>
      </div>
    </section>

    <footer>
      <div class="container text-center">
        <p>
          2016
        </p>
      </div>
    </footer>

    <script src="http://xyxiao001.github.io/person/js/jQuery.js"></script>>
    <script src="http://xyxiao001.github.io/person/js/bootstrap.min.js"></script>
    <script src="http://xyxiao001.github.io/person/js/jquery.easing.min.js"></script>
    <script src="http://xyxiao001.github.io/person/js/blog.js"></script>
  </body>

</html>
